---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.navbar-default{
  background: #022335 !important;
  border: none !important;
  margin-top: 10px;
  position: relative;
}

.navbar-default .navbar-nav > li > a{
    color:#abc0ca !important;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#03a4fb !important;

}
.navbar-default .navbar-nav > li > a:focus{
    color:#03a4fb !important;
}
.navbar-default .navbar-brand{
  color:#abc0ca !important;
  font-size: 24pt;
}
.footer-content{
  text-align: center;
  padding: 0.5em;
}
body{
  background-color: #022335 !important;
  font-family: -apple-system, "SF Pro Text", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #abc0ca !important;
}
.page-stuff{
  a {
    color: #03a4fb !important;
    text-decoration: none;
      &:hover{
        color:#03a4fb !important;
        text-decoration: none !important;
        border-bottom: 1px dotted #03a4fb;
        /* padding-bottom:0.5em; */
      }
    }
  }
#page-content{
  padding-bottom: 4em;
}

.page-stuff{
  padding-top: 1em;
  padding-bottom: 5em;
}
.page-separator > hr {
  color: white !important;
}
.jumbotron {
  background: #093750 !important;
}
a {
    color: #03a4fb;
    text-decoration: none;
}
a:hover{
  color:#03a4fb !important;
  text-decoration: none !important;
  border-bottom: 1px dotted #03a4fb;

}

.post {
  padding-top: 3em !important;
}
.post-list{

    text-align: left;
    list-style-type: none;
}
.post-box{
  padding-top: 2em;
padding-bottom: 2em;
}
.archive-post-box{
  padding-top: 1em;
  padding-bottom: 1em;
}
.post-link {
  .padding-top: 8px !important;
}
.smaller-link {
  font-size: 80% !important;
}
.post-title{
  font-size: 20px !important;
color:  #abc0ca !important;
}

.post-excerpt{
  color: white !important;
padding-top: 0.5em;
padding-bottom: 0.3em;
}
.page-title-main{
  text-align: left;
  font-size: 64pt;
  color: #abc0ca !important;
}
.post-title-main{
  text-align: left;
  color: #abc0ca !important;
}
.post-content{
  font-size: 19px;
  text-align: justify;
  padding-bottom: 3em;
}
.post-content-excerpt{
  font-size: 19px;
  text-align: justify;
  padding-bottom: 2em;
}
.post-content img {
    width: 720px;
    height: auto;
}
pre{
background-color: black !important;
border:none !important;
border-radius: 0px !important;
font-size: 20px !important;
padding: 1.5em !important;
color:white !important;
}
.post-meta{
  color: skyblue !important;
  padding-bottom: 7px;
  font-size: 120%;
}

code{
  background-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0px !important;
}

.page-tagline{
  font-size: 20px;
text-align: center;
}

.download{
  padding:2em;
  font-size: 19px;
}
.intro{
  font-size: 19px;

}
.manual-title{
  font-size: 21px;
  padding: 1em;
  text-transform: uppercase;

}
.manual-content{
  text-align: justify;
  font-size: 19px;
}

.man-title{
  font-size: 22px;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;

}

.jumbotron{
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.navbar{
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.15);
}
// Our variables
$base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting"
;

.homepage {
    margin: 0;
    font-family: -apple-system, San Francisco, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* background: #aa292f; */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.home-h1 {
    font-size: 148px;
    color: white;
}
.home-links {
    color: white;
    display: inline;
    font-size: 24px;
    text-decoration: none;
}
.home-links:visited {
    color: white;
}
.home-footer {
    color: white;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.valign-center {
  height: 60px;
  line-height: 60px;
}
.valign-center span {
  display: inline-block;
  vertical-align: middle;
}

input, textarea {
    background: #093750;
    border: none;
    padding: 3pt;
}
#post-item li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
