---
layout: page
title: Archive
permalink: /archive/
in_nav: false
---

<div class="home">
  <div class="post-list">
    {% for post in site.posts %}
      {% if post.categories[0] != "casual" %}
        <div class="archive-post-box">
          <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}{% if post.updated %} • <em>Updated: {{ post.updated | date: "%B %-d, %Y" }}</em>{% endif %}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>
      {% endif %}
    {% endfor %}
</div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> <a href="{{ "/feed.json" | prepend: site.baseurl }}">or JSON</a></p>

</div>
