---
layout: homepage
---
<center>

<div class="homepage">
    <h1 class="home-h1">Zach Knox</h1>
    <span class="home-links"><i>Hi there, I'm Zach. This is my website.</i></span>
    <br />
    <br />

    {% for my_page in site.pages %}
      {% unless my_page.title contains "Archive" == false%}
        {% if my_page.title contains "" %}
        <a class="home-links" href="{{ my_page.url | prepend: site.baseurl }}"> {{ my_page.title }} </a>&#9;
        <br />
        <!---Needs some work--->
        {% endif %}
      {% endunless %}
    {% endfor %}
</div>

</center>
