---
layout: homepage
---
<center>

<div class="homepage">
    <h1 class="home-h1">{{ site.title }}</h1>
    {% assign latest = site.posts.first %}
    {% for post in site.posts %}
      {% if post.categories[0] != "casual" %}
        {% assign latest = post %}
        {% break %}
      {% endif %}
    {% endfor %}
    <div class='home-links'>Latest Post: <a href="{{ latest.url | prepend: site.baseurl }}">{{ latest.title }} <i class="fa fa-arrow-circle-right"></i></a></div>

    <br />
    <br />
    {% for my_page in site.pages %}
      {% unless my_page.in_nav == false %}
        {% if my_page.title contains "" %}
        <a class="home-links" href="{{ my_page.url | prepend: site.baseurl }}"> {{ my_page.title }} </a>&#9;
        <br />
        <!---Needs some work--->
        {% endif %}
      {% endunless %}
    {% endfor %}
    <br />
</div>

</center>
