---
layout: page
title: Posts
permalink: /posts/
---

<div class="home">

  <div class="post-list">
    {% for post in site.posts offset: 0 limit: 4 %}
      <div id="post-item">
        <div class="post-homepage">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{% if post.extlink %}{{ post.extlink }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{% if post.extlink %}<i class="fa fa-link"></i>  {% endif %}{{ post.title }}</a>
                {% if post.extlink %}<a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><i class="fa fa-arrow-circle-right"></i></a>{% endif %}
            </h2>
            <div class="post-content-excerpt" itemprop="articleBody">
                {% if post.content contains "<!-- more -->" %}
                    {{ post.content | split:"<!-- more -->" | first }}
                    <p><strong><a href="{{ post.url | prepend: site.baseurl }}">Read More...</a></strong></p>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
  <a href="/archive/">⬅ All Posts</a>
</div>
