---
layout: page
title: Posts
permalink: /posts/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts offset: 0 limit: 4 %}
      <li id="post-item">
        <div class="post-homepage">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="post-content" itemprop="articleBody">
                {% if post.content contains "<!-- more -->" %}
                    {{ post.content | split:"<!-- more -->" | first }}
                    <br />
                    <p><a href="{{ post.url | prepend: site.baseurl }}">Read More...</a></p>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% if posts < 4 %}
    <a href="/archive/">⬅ All Posts</a>
  {% endif %}
</div>
