<!--nav class="navbar navbar-default navbar-bottom">
  <div class="container footer-content">
    Copyright &#169; 2016-{{ site.time | date: '%y' }} {{ site.name }} | <a href="{{ base }}/feed.json">JSON Feed</a> | <a href="{{ base }}/feed.xml">RSS Feed</a>
  </div>
</nav>


<!--This footer code is based hevilly on David Haynes' work on the footer for SRCT's Go. https://git.gmu.edu/srct/go -->
<!-- define the footer template -->
<footer class="footer">
  <!-- note: this is a special css class (see styles.css) -->
  <div class="d-none d-sm-block text-center valign-center">
    <span class="footer-text">Copyright &#169; 2016-{{ site.time | date: '%Y' }} {{ site.name }}
      | <a href="{{ base }}/privacy/">Privacy</a> | <span class="trans-rights-footer">Trans rights are human rights.</span>
    </span>
  </div>

  <div class="container text-center d-block d-sm-none footer-mobile">
    <div class="col-sm-4 footer-text">
       Copyright &#169; 2016-{{ site.time | date: '%Y' }} {{ site.name }}
    </div>
    <div class="col-sm-4 footer-text trans-rights-footer">
      Trans rights are human rights.
    </div>
    <div class="col-sm-4 footer-text">
      <a href="{{ base }}/privacy/">Privacy</a>
    </div>
  </div>
</footer>
