<section>
  <div class="d-xs-block">
    <div class="navbar navbar-dark">
      <a class="navbar-brand mx-auto" href="/">{{ site.title }}</a>
      <div class="navbar-collapse navbar-expand mx-auto" id="navbarNav">
      <ul class="navbar-nav mx-auto justify-content-center">
        {% for page in site.main_nav %}
        {% unless page.in_nav == false %}
        {% if page.title %}
        <li class="nav-item"><a class="nav-link" href="{{page.permalink | prepend: site.baseurl }}">{{page.title}}</a>
        </li>

        {% endif %}
        {% endunless %}
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</section>
