.bingo-table {
	width: 600px;
	height: 600px;
}
th {
	width: 120px;
	height: 120px;
}
tr {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.red-cell {
	background: #ff0000; /* Or some other color */
	color: #ffffff;
}
.white-cell {
	background: #ffffff;
	color: #000000;
}
.blue-cell {
	background: #0000ff;
	color: #ffffff;
}