---
layout: none
---
{% if page.lang != "en" %}
    {% assign base = site.url | append: "/" | append: page.lang %}
{% else %}
    {% assign base = site.url %}
{% endif %}
{
    "version": "https://jsonfeed.org/version/1",
    "title": {{ site.name | smartify | jsonify }},
    {% if site.description %}"description": {{ site.description | smartify | jsonify }},{% endif %}
    "home_page_url": "{{ base }}/",
    "feed_url": "{{ base }}/feed.json",
    {% comment %}"favicon": "",{% endcomment %}
    "expired": false,
    "items": [{% for post in collections.posts reversed: true %}{% if post.categories[0] != "casual" %}
        {
            "id": "{{ post.id }}",
            "title": {{ post.data.title | smartify | jsonify }},
            "content_html": {{ post.content | jsonify }},
            "url": "{{ site.url }}{{ post.url }}",
        {% if post.data.extlink %}
            "external_url": "{{ post.data.extlink }}",
        {% endif %}
        {% if post.data.excerpt %}
            "summary": {{ post.data.excerpt | smartify | jsonify }},
        {% else %}
            "summary": {{ t.frontpage[page_language].description | smartify | jsonify }},
        {% endif %}
            "date_published": "{{ post.date | date_to_xmlschema }}"
         {% comment %}"author": ""{% endcomment %}
        }{% unless forloop.last == true %},{% endunless %}
{% endif %}{% endfor %}    ]
}
