---
layout: default
---
  <link rel="stylesheet" href="{{ " /css/post.css" | prepend: site.baseurl }}">
  <br />
  <div class="container">
    {% if categories[0] == "casual" %}
    <p><a class="back" href="{{ site.baseurl }}/casual/"><i class="far fa-angle-left"></i> Casual</a></p>
    {% else %}
    <p><a class="back" href="{{ site.baseurl }}/posts/"><i class="far fa-angle-left"></i> Posts</a></p>
    {% endif %}
  </div>
<div class="post">  
    <div class="container reading-width">
      <{% if extlink %}h2{% else %}h1{% endif %} class="post-title-main" itemprop="name headline">{% if extlink %}<i class="fa fa-link smaller-link"></i> {% endif %}{{ title }}</{% if link %}h2{% else %}h1{% endif %}>
      {% if subtitle %}<h4 class="post-subtitle-main"><em>{{ subtitle }}</em></h4>{% endif %}
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>{% if updated %} • <em>Updated: {{ updated | date: "%B %-d, %Y" }}</em>{% endif %}{% if author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author }}</span></span>{% endif %}{% if extlink %} • <a href="{{ extlink }}">Visit Link <i class="fas fa-external-link-alt"></i></a>{% endif %}</p>
    </div>
    <br />
  <div class="post-content container reading-width" itemprop="articleBody">
    {{ content }}
    {% if extlink %}<br /><h2><a href="{{ extlink }}">Visit Link <i class="fas fa-external-link-alt"></i></a></h2>{% endif %}</p>
  </div>
</div>
