---
layout: default
---

  <br />
  <div class="container">
    <p><a class="back" href="{{ site.baseurl }}/posts/"><i class="far fa-angle-left"></i> Posts</a></p>
  </div>
<div class="post">  
    <div class="container reading-width">
      <{% if page.extlink %}h2{% else %}h1{% endif %} class="post-title-main" itemprop="name headline">{% if page.extlink %}<i class="fa fa-link smaller-link"></i> {% endif %}{{ page.title }}</{% if page.link %}h2{% else %}h1{% endif %}>
      {% if page.subtitle %}<h4 class="post-subtitle-main"><em>{{ page.subtitle }}</em></h4>{% endif %}
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.updated %} • <em>Updated: {{ page.updated | date: "%b %-d, %Y" }}</em>{% endif %}{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </div>
    <br />
  <div class="post-content container reading-width" itemprop="articleBody">
    {{ content }}
    <br />
    {% if page.extlink %}<br /><h2><a href="{{ page.extlink }}"><i class="fas fa-external-link-alt"></i></a></h2>{% endif %}</p>
  </div>
</div>